<%= form_with model: album do |form| %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-5 cell">
        <%= form.text_field :title, value: album.title, placeholder: "Nazwa albumu", required: true %>
      </div>
      <div class="small-12 medium-5 cell">
        <%= form.number_field :year, value: album.year || Time.now.year, placeholder: "Rok" %>
      </div>
      <div class="small-12 medium-5 cell">
        <%= form.text_field :author, value: album.author, placeholder: "Autor zdjęć", required: true %>
      </div>
      <div class="small-12 medium-5 cell">
        <%= form.text_field :tags, value: album.tags.pluck(:name).join(', '), placeholder: "Tagi" %>
      </div>
      <div class="small-12 medium-5 cell">
        <%= form.text_field :places, value: album.places.pluck(:name).join(', '), placeholder: "Rzeka/Miejsce", required: true %>
      </div>
      <div class="small-12 cell">
        <%= form.check_box :agreed_to_publish, required: true %>
        <%= form.label :agreed_to_publish, "Zgoda autora na publikację" %>
      </div>
      <% unless album.photos.any? %>
        <div class="small-12 cell">
          <%= form.file_field :images, multiple: true, accept: 'image/png,image/gif,image/jpeg,image/jpg', required: true %>
        </div>
      <% end %>
      <div class="small-12 medium-10 cell">
        <%= form.submit "Zapisz", class: :button %>
      </div>
    </div>
  </div>
<% end %>
